.about-container {
   .about-grid {
      display: flex;
      width: 1000px;
      gap: 80px;
      margin-top: 80px;
      height: 100vh;
      padding-top: 30px;

      @media (max-width: 1060px) {
         width: 700px;
         transition: 850ms;
         padding-top: 10px;
         margin-top: 50px;
      }

      @media (max-width: 700px) {
         margin-left: 50px;
         flex-direction: column;
         align-items: center;
         height: 900px;
      }

      @media (max-width: 508px) {
         flex-direction: column;
         width: 350px;
         justify-content: center;
         align-items: center;
      }

      .grid-one {

         @media (max-width: 700px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
            text-align: center;
         }

         .about-us {
            display: inline-flex;
            align-items: baseline;
            gap: 14px;

            h2 {
               font-size: 26px;
               font-family: Verdana, Geneva, Tahoma, sans-serif;
               color: #FF6B00;

               @media (max-width: 1060px) {
                  width: 150px;
                  transition: 850ms;
               }

               @media (max-width: 508px) {
                  font-size: 20px;
               }
            }

            .line {
               width: 100px;
               border-bottom: 2px solid #FF6B00;

               @media (max-width: 1060px) {
                  width: 60px;
                  transition: 850ms;

               }
            }
         }

         .boost {
            line-height: 1rem;
            padding-top: 40px;

            @media (max-width: 1060px) {
               line-height: .5rem;
               padding-top: 10px;
            }

            @media (max-width: 700px) {
               display: flex;
               flex-direction: column;
               justify-content: center;
               align-items: center;
               gap: 20px;
               text-align: center;
               padding-top: 50px;
            }

            h1 {
               font-family: Poppins;
               font-weight: 600;
               font-weight: 40px;

               @media (max-width: 1060px) {
                  font-size: 32px;
                  transition: 850ms;
                  width: 340px;
               }

               @media (max-width: 700px) {
                  font-size: 32px;
                  text-align: center;
               }
            }


            span {
               font-size: 36px;
               font-family: Poppins;
               font-weight: 600;

               @media (max-width: 1060px) {
                  font-size: 42px;
                  transition: 850ms;
               }

               @media (max-width: 700px) {
                  text-align: center;
               }
            }
         }

         .boost-text {
            font-family: Inter;
            color: #060640;
            font-size: 16px;
            line-height: 1.5rem;

            @media (max-width: 700px) {
               margin-left: 10px;
               font-size: 14px;
               width: 500px;
               text-align: center;
            }
         }

         .get-btn {
            padding: 10px 20px;
            border: 0;
            border-radius: 10px;
            background: #FF6B00;
            color: white;
            font-size: 18px;
            box-shadow: 0px 0px 2px #060640;
            font-family: Poppins;
         }

      }

      .grid-two {

         img {
            width: 450px;
            border-radius: 30px;

            @media (max-width: 1060px) {
               width: 350px;
               height: 350px;
               transition: 850ms;
            }

            @media (max-width: 700px) {
               width: 500px;
            }
         }

      }
   }
}

.company-section {
   width: 100%;
   background: #ECF9FF;
   display: flex;
   justify-content: center;

   @media (max-width: 508px) {}


   .company-container {
      border-top: 4px solid white;
      width: 100%;
      align-items: center;
      display: flex;
      padding-top: 40px;
      justify-content: center;
      height: 1000px;

      .company-facts {
         display: flex;
         flex-direction: column;

         text-align: center;
         height: 100vh;
         position: relative;

         .team {
            .about-us {
               display: flex;
               align-items: center;
               justify-content: center;


               h2 {
                  font-size: 26px;
                  font-family: Verdana, Geneva, Tahoma, sans-serif;
                  color: #060640;
               }
            }

            .team-members {
               display: flex;
               justify-content: center;
               gap: 150px;
               padding-top: 70px;

               @media (max-width: 508px) {
                  flex-direction: column;
                  gap: 10px;
               }

               .mem-one {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  justify-content: center;

                  h3 {
                     font-family: Poppins;
                     font-size: 18px;
                     text-align: center;
                  }
               }

               .img {
                  border: 2px solid #FF6B00;
                  padding: 4px;
                  border-radius: 50%;
                  height: 85px;
                  width: 85px;
               }
            }

            .team-text {
               font-family: Inter;
               color: #060640;
               font-size: 16px;
               text-align: left;
               height: 400px;
               padding: 10px 20px;

               h4 {
                  font-size: 24px;
                  text-align: center;
                  text-decoration: underline;
               }

               .what-we-do {

                  .what-we-do-grid {
                     display: flex;
                     gap: 20px;

                     @media (max-width: 1060px) {
                        transition: 850ms;
                     }

                     @media (max-width: 828px) {
                        position: relative;
                        transition: 850ms;
                        flex-direction: column;
                        gap: 5px;
                        overflow-y: hidden;
                     }

                     .web {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        justify-content: center;
                        align-items: center;

                        .grid1 {
                           background: #FFF;
                           border-radius: 10px;
                           box-shadow: 0px 0px 3px #555151;
                           display: flex;
                           flex-direction: column;
                           padding: 10px;
                           align-items: center;
                           width: 300px;

                           @media (max-width: 1060px) {
                              transition: 850ms;
                           }
                        }

                        p {
                           text-align: center;

                           @media (max-width: 1060px) {
                              line-height: 1.5rem;
                              font-family: monospace;
                              transition: 850ms;
                           }
                        }

                        .img {
                           background: #060640;
                           width: 70px;
                           height: 70px;
                           display: flex;
                           align-items: center;
                           justify-content: center;
                           border-radius: 5px;
                        }
                     }
                  }
               }
            }

            .get-btn {
               padding: 10px 30px;
               border: 0;
               border-radius: 10px;
               background: #FF6B00;
               color: white;
               font-size: 20px;
               font-family: Poppins;
            }
         }
      }
   }
}