@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap');


body {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   overflow-x: hidden;
}

.footer-container{
   background: #060640;
   width: 100vw;
   height: 417px;
   margin-top: 50px;
}