.nav-menu {
   height: 60px;
   background: #fff;
   border-radius: 10px;
   padding-right: 15px;
   display: flex;
   margin-top: 30px;

   @media (max-width: 1060px) {
         width: 600px;
         align-items: center;

      }

   .nav-menu-bar {
      display: flex;
      gap: 170px;
      width: 100%;

      @media (max-width: 1024px) {
         gap: 10px;
         flex-direction: column;
      }

      a {
         text-decoration: none;
      }

      .logo {
         display: inline-flex;
         align-items: center;
         gap: 10px;
         padding: 10px;
         margin-left: 15px;

         @media (max-width: 1060px) {
               display: none;
            }


         img {
            width: 35px;
            height: 20px;
            cursor: pointer;
         }

         p {
            font-family: 'Poppins', sans-serif;
            font-size: 26px;
            font-weight: 600;
            color: #060640;
            cursor: pointer;

            span {
               color: #00E5CC;
               padding-left: 5px;
               padding-right: 2px;
            }
         }
      }

      .nav-menu-options {
         display: flex;
         justify-content: center;
         align-items: center;

         .first {
            display: flex;
            list-style: none;
            gap: 40px;

            @media (max-width: 1060px) {
                  width: 100px;
                  display: none;
               }

            li {
               a {
                  text-decoration: none;
                  color: #060640;
                  font-size: 16px;
                  font-weight: 500;
                  font-family: Poppins;
               }

               .active {
                  color: #00E5CC;
                  text-decoration: underline;
               }


            }


         }
      }

      .auth {
         display: flex;
         gap: 30px;
         align-items: center;
         font-size: 16px;
         justify-content: flex-end;
         font-family: Poppins;

         @media (max-width: 1060px) {
               display: none;
            }

         a {
            text-decoration: none;
            color: #060640;
         }

         .sign-in {
            background: #060640;
            border-radius: 10px;
            width: 100px;
            text-align: center;
            height: 45px;
            display: flex;
            align-items: center;
            justify-content: center;

            a {
               color: #ECF9FF;
            }
         }
      }
   }

   .mobile-nav-container {
      display: none;

      .logo{
         width: 200px;
         justify-content: center;
         display: flex;

         p {
               font-family: 'Poppins', sans-serif;
               font-size: 28px;
               font-weight: 600;
               color: #060640;
               cursor: pointer;
         
               span {
                  color: #00E5CC;
                  padding-left: 5px;
                  padding-right: 2px;
               }
            }
      }

      a{
         font-size: 24px;
         text-decoration: none;
      }

      @media (max-width: 1060px) {
         position: absolute;
         display: flex;
         // background: #000;
         justify-content: space-between;
         width: inherit;
         align-items: center;
      }

      // @media (max-width: 598px) {
      //    padding: 24px 50px;
      // }

      // @media (max-width: 420px) {
      //    overflow-x: hidden;
      // }
   }

   .mobile-nav-items {
      background: #060640;
      color: white;
      width: 50%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      gap: 48px;
      position: fixed;
      top: 0;
      right: 0;
      transition: 850ms;
      z-index: 1;
      transform-origin: 350ms;
      padding: 60px 20px;
      align-items: center;
      text-align: center;
      transition: 850ms;

      .logo{
         font-size: 30px;

         a{
            text-decoration: none;
            color: white;
            font-family: Poppins;
         }
      }

      @media (max-width: 450px) {
         width: 70%;
         gap: 30px;
      }

      @media (max-width: 370px) {
         width: 90%;
      }


      .first {
         display: flex;
         flex-direction: column;
         gap: 48px;
         text-align: center;
         transition: 850ms;

         a{
            color: white;
            text-decoration: none;
            font-size: 30px;
            font-family: Poppins;
         }

         @media (max-width: 450px) {
            gap: 30px;
         }

         @media (max-width: 420px) {
            overflow-x: hidden;
         }
      }
   }
}