// --------------------------------- Fonts ---------------------------------
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap');

.our-work-section{
   height: 80vh;
   display: flex;
   justify-content: center;
   margin-top: 100px;
   gap: 40px;
   align-items: flex-start;

   .heading{
      h1{
         font-size: 34px;
         width: 400px;
         font-family: monospace;
         color: #060640;
      }
   }
   .img{
      margin-top: 20px;
      img{
         width: 600px;
         height: 300px;
         border-radius: 40px;
      }
   }
}

.reviews-container{
   background: #fff;
   width: 100vw;
   height: 600px;
}