.login-wrapper {
   width: 100vw;
   height: 100vh;
   top: 0;
   left: 0;
   background-color: rgba(0, 0, 0, 0.7);
   z-index: 1;
   position: fixed;
   display: flex;
   flex-direction: row;
   justify-content: center;
   padding-top: 0.3rem;
   overflow: hidden;

   .login-container {
      display: flex;
      justify-content: center;
      align-items: center;
      grid-template-columns: 1fr;
      width: 75%;

      .login-section {
         background: #ECF9FF;
         height: 700px;
         width: 30%;
         border-radius: 10px;

         @media (max-width: 1337px) {
            width: 40%;
            height: 650px;
         }

         @media (max-width: 1060px) {
            width: 46%;

         }

         @media (max-width: 828px) {
            width: 60%;

         }
         @media (max-width: 670px) {
            width: 80%;

         }

         @media (max-width: 466px) {
            width: 100%;

         }

         .logo-text {
            padding: 0 0.5rem;
            display: flex;
            justify-content: flex-end;
            color: red;
            font-family: Poppins;

            @media (max-width: 1199px) {
               padding: 0px;
            }

            h1 {
               font-size: 26px;
               font-weight: 500;
               padding-right: 2rem;
               cursor: pointer;

               @media (max-width: 1199px) {
                  font-size: 16px;
                  font-weight: 400;
                  padding: 10px 15px 0px 0px;
               }
            }

            p {}
         }

         .login-style {
            display: flex;
            align-items: center;
            margin: 0.4rem 10%;

            .log-in {
               display: flex;
               flex-direction: column;
               gap: 0px;
               font-family: Inter;

               h1 {
                  font-size: 1.3rem;

                  @media (max-width: 1199px) {
                     font-size: 22px;
                  }
               }

               p {
                  font-size: 1rem;
                  padding-top: 0.5rem;

                  @media (max-width: 1199px) {
                     font-size: 15px;
                  }
               }

               .button-div {
                  display: flex;
                  align-self: center;

                  button {
                     padding: 0px 20px;
                     width: 300px;
                     color: #fff;
                     font-family: monospace;
                     font-size: 16px;
                     border: 0;
                     box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
                     background: #060640;
                     border-radius: 10px;
                  }

               }

               .or- {
                  width: 100%;
                  display: inline-flex;
                  flex-direction: row;
                  align-items: baseline;
                  margin-top: 5px;

                  hr {
                     flex-basis: 70%;
                  }

                  p {
                     flex-basis: 20%;
                     text-align: center;
                     padding: 2px 0px;
                     margin-top: 10px;
                     color: #060640;
                  }
               }

               .form-place {
                  padding-top: 20px;
                  width: 100%;

                  .email {
                     display: flex;
                     flex-direction: column;


                     label {
                        font-size: 18px;
                        font-family: Poppins;
                        font-weight: 400;

                        @media (max-width: 1199px) {
                           font-size: 16px;
                           font-weight: 400;
                        }
                     }

                     input {
                        background: hsl(0, 0%, 100%);
                        border: 0;
                        height: 32px;
                        outline: 0;
                        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
                        padding: 10px;

                        @media (max-width: 1199px) {
                           padding: 12px;
                        }

                        @media (max-width: 420px) {
                           width: 240px;
                        }

                        &::placeholder {
                           font-size: 16px;
                           letter-spacing: 1px;

                           @media (max-width: 1199px) {
                              font-size: 14px;
                           }
                        }
                     }
                  }

                  .password {
                     display: flex;
                     flex-direction: column;


                     .forgot-password {
                        padding-top: 20px;
                        display: flex;
                        justify-content: space-between;

                        label {
                           font-size: 18px;
                           font-weight: 400;
                           font-family: Poppins;

                           @media (max-width: 1199px) {
                              font-size: 16px;
                              font-weight: 400;
                           }
                        }

                        h4 {
                           color: rgb(0, 89, 255);
                           font-weight: 500;
                           font-size: 16px;

                           @media (max-width: 1199px) {
                              font-size: 16px;
                           }
                        }
                     }

                     input {
                        background: hsl(0, 0%, 100%);
                        outline: 0;
                        padding: 10px;
                        border: 0;
                        height: 32px;
                        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);

                        @media (max-width: 1199px) {
                           padding: 12px;
                        }

                        @media (max-width: 420px) {
                           width: 240px;
                        }

                        &::placeholder {
                           font-size: 18px;
                           letter-spacing: 1px;

                           @media (max-width: 1199px) {
                              font-size: 14px;
                           }
                        }
                     }
                  }

                  .checkbox {
                     display: inline-flex;
                     gap: 10px;

                     h5 {
                        font-size: 18px;
                        font-weight: 400;
                        font-family: Poppins;

                        @media (max-width: 1199px) {
                           font-size: 16px;
                        }
                     }
                  }

                  .login-btn {
                     display: flex;
                     flex-direction: column;
                     align-items: center;

                     button {
                        background: #060640;
                        border-radius: 5px;
                        padding: 14px 0px;
                        font-size: 20px;
                        font-family: monospace;
                        color: white;
                        border: 0;
                        width: 310px;
                        cursor: pointer;

                        @media (max-width: 1199px) {
                           font-size: 18px;
                           padding: 12px;
                        }

                        @media (max-width: 420px) {
                           width: 240px;
                        }
                     }

                     p {
                        font-size: 16px;
                        font-weight: 500;

                        @media (max-width: 1199px) {
                           font-size: 14px;
                           font-weight: 400;
                        }

                        span {
                           color: rgb(0, 89, 255);
                           padding-left: 5px;
                        }
                     }
                  }
               }
            }
         }
      }
   }
}