// -----------------------------------Support Hero ------------------------------------------
.support-section {
   display: flex;
   justify-content: center;
   height: 600px;
   margin-top: 60px;
   width: 1200px;

   @media (max-width: 1060px) {
      height: 800px;
   }

   .support-body {
      display: grid;
      grid-template-columns: 2fr 1fr;

      @media (max-width: 1060px) {
         display: flex;
         flex-direction: column;
         align-items: center;
      }

      @media (max-width: 620px) {}

      .support-text {

         @media (max-width: 1060px) {
            transition: 850ms;
         }

         @media (max-width: 620px) {
            transition: 850ms;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
         }



         h1 {
            font-size: 55px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 800;
            width: 750px;
            line-height: 3.3rem;
            color: #060640;

            @media (max-width: 1060px) {
               width: 600px;
               font-size: 60px;
               text-align: left;
               line-height: 3.5rem;
               transition: 850ms;
            }

            @media (max-width: 620px) {
               width: 500px;
               font-size: 45px;
               text-align: left;
               line-height: 3.5rem;
               transition: 850ms;
            }

            @media (max-width: 420px) {
               width: 350px;
               font-size: 35px;
               text-align: left;
               line-height: 2rem;
               transition: 850ms;
            }


         }

         span {
            color: #FF6B00;
         }

         .sub {
            width: 600px;

            @media (max-width: 620px) {
               transition: 850ms;
               display: flex;
               flex-direction: column;
               justify-content: center;
               gap: 10px;
               align-items: center;
            }

            h3 {
               font-size: 18px;
               font-family: Poppins;
               color: #060640;

               @media (max-width: 620px) {
                  width: 500px;
                  font-size: 15px;
                  text-align: left;
                  line-height: 1.5rem;
                  transition: 850ms;
               }

               @media (max-width: 420px) {
                  width: 300px;
                  font-size: 15px;
                  text-align: left;
                  line-height: 1.5rem;
                  transition: 850ms;
               }
            }


            button {
               background: #FF6B00;
               border-radius: 10px;
               color: #060640;
               font-weight: 600;
               box-shadow: 0px 0px 2px #060640;
               padding: 10px 10px;
               width: 150px;
               margin-right: 20px;
               border: 0;
               font-size: 20px;
               font-family: Poppins;
            }
         }
      }

      .support-img {
         background: #FF6B00;
         width: 300px;
         height: 330px;
         border-radius: 47%;
         margin-top: 40px;

         img {
            width: 450px;
            height: 400px;

            @media (max-width: 420px) {
               width: 360px;
               transition: 850ms;
            }
         }
      }
   }
}

// -------------------------------- Contact-Form ------------------------------------
.contact-container {
   color: #060640;

   @media (max-width: 1060px) {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   .contact-sec {
      width: 1000px;
      height: 800px;
      padding: 10px;


      @media (max-width: 1060px) {
         margin-top: 100px;
         height: 800px;
         display: flex;
         flex-direction: column;
         align-items: center;
      }

      @media (max-width: 852px) {
         height: 1300px;
      }

      @media (max-width: 508px) {
         height: 1000px;
      }

      .contact-section {
         display: flex;
         margin-bottom: 40px;
         width: 100vw;
         padding: 10px;

         @media (max-width: 852px) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 1000px;
         }

         @media (max-width: 508px) {
            flex-direction: column;
            align-items: center;
         }

         .contact-text {
            width: 350px;
            padding: 10px;
            display: flex;
            flex-direction: column;

            @media (max-width: 508px) {
               width: 370px;
               transition: 850ms;
            }

            @media (max-width: 852px) {
               width: 400px;
               transition: 850ms;
            }

            @media (max-width: 420px) {
               margin-left: 20px;
               transition: 850ms;
            }

            h1 {
               font-family: Poppins;
               font-size: 24px;

               @media (max-width: 852px) {
                  font-size: 26px;
                  width: 500px;
                  transition: 850ms;
               }

               @media (max-width: 420px) {
                  width: 400px;
                  font-size: 26px;
                  text-align: left;
                  line-height: 1.5rem;
                  transition: 850ms;
               }
            }

            p {
               font-size: 18px;
               font-family: cursive, Tahoma, Geneva, Verdana, sans-serif;
               line-height: 1.1rem;
               // color: rgb(192, 190, 190);
               color: #565656;
            }

            button {
               padding: 5px 10px;
               text-align: center;
               border-radius: 5px;
               width: 150px;
               font-size: 18px;
               font-family: Poppins;
               border: 0;
               background: #060640;
               color: #fff;
               margin-top: 10px;
            }
         }

         .contact-form-container {
            background: #fff;
            border-radius: 30px;
            top: 200px;
            padding: 30px;
            position: relative;
            display: flex;
            justify-content: center;
            margin-left: 30px;
            width: 400px;


            @media (max-width: 852px) {
               margin-right: 20px;
               width: 300px;
               transition: 850ms;
            }

            @media (max-width: 508px) {
               top: 40px;
               transition: 850ms;
            }


            .contact-txt {
               h1 {
                  font-size: 24px;
                  font-family: Poppins;
               }

               .contact-form {
                  display: flex;
                  flex-direction: column;
                  gap: 20px;

                  input {
                     width: 400px;
                     padding: 10px 10px;
                     border-radius: 10px;
                     font-size: 16px;

                     &::placeholder {
                        font-size: 14px;
                        padding: 10px;
                     }

                     @media (max-width: 852px) {
                        margin-right: 0px;
                        width: 300px;
                        transition: 850ms;
                     }

                     @media (max-width: 508px) {
                        width: 250px;
                        transition: 850ms;
                     }
                  }

                  button {
                     background-color: #060640;
                     color: #f2f2f2;
                     padding: 16px 40px;
                     border: none;
                     font-size: 18px;
                     margin-top: 5px;
                     transition: 850ms;
                     border-radius: 10px;
                  }

                  button:hover {
                     background-color: transparent;
                     border: 1px solid #000;
                     color: #000;
                  }

                  textarea {
                     height: 150px;
                     outline: 0;
                     border-radius: 10px;
                     resize: none;
                     padding: 10px 20px;
                     font-size: 16px;

                     &::placeholder {
                        font-size: 16px;
                     }
                  }
               }
            }
         }
      }
   }
}

// -------------------------------------- FAQs ---------------------------------------------
.faq-container {
   height: 100vh;
   width: 1200px;
   border-top: 2px solid white;
   display: flex;
   justify-content: center;
   align-items: center;

   @media (max-width: 830px) {
      width: 1000px;
      margin-right: 100px;
      padding-left: 60px;
   }

   .faq-section {
      margin-top: 180px;
      height: 100vh;
      width: 1300px;

      .faq-section-content {
         display: flex;
         margin-bottom: 20px;
         align-items: center;
         flex-direction: column;

         h1 {
            font-family: Poppins;
            font-size: 32px;

            @media (max-width: 420px) {
               width: 320px;
               font-size: 22px;
               line-height: 1.5rem;
               transition: 850ms;
            }
         }

         p {
            font-size: 20px;

            @media (max-width: 930px) {
               width: 550px;
               text-align: center;
            }

            @media (max-width: 664px) {
               width: 400px;
               text-align: center;
            }

            @media (max-width: 420px) {
               width: 320px;
               font-size: 18px;
               text-align: left;
               line-height: 1.5rem;
               transition: 850ms;
            }
         }
      }

      .faq {
         padding: 10px 10%;
         text-align: center;
         font-size: 18px;
         display: flex;
         color: #fff;
         margin-left: 50px;

         @media (max-width: 830px) {
            margin: 10px 25%;
            height: 380px;
            display: flex;
            justify-content: center;
            align-items: center;
         }

                  @media (max-width: 420px) {
                     width: 300px;
                     margin: 5px 21%;
                     line-height: 1.5rem;
                     transition: 850ms;
                  }
         .accordion {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
            width: 100%;
            max-width: 750px;

            @media (max-width: 830px) {
               grid-template-columns: 1fr;
            }

            .contain {
               background: #060640;
               text-align: left;
               padding: 0 20px;
               max-height: 0;
               overflow: hidden;
               transition: max-height 0.5s, padding 0.5s;
            }

            li {
               list-style: none;
               width: 100%;

               input[type="radio"] {
                  display: none;
               }

               input[type="radio"]:checked+label+.contain {
                  max-height: 600px;
                  padding: 0px 10px;
               }

               .accordion input[type="radio"]:checked+label::after {
                  transform: rotate(45deg);
               }

               label {
                  display: flex;
                  align-items: center;
                  padding: 10px 20px;
                  width: 350px;
                  font-size: 17px;
                  font-weight: 500;
                  background: #060640;
                  margin-bottom: 2px;
                  cursor: pointer;
                  position: relative;

                  &::after {
                     content: '+';
                     color: #fff;
                     font-size: 34px;
                     position: absolute;
                     right: 20px;
                     transition: transform 0.5s;
                  }
               }
            }
         }
      }
   }
}