// -----------------------------------Support Hero ------------------------------------------
.support-section {
   display: flex;
   justify-content: center;
   height: 600px;
   margin-top: 80px;
   width: 1200px;

   .support-body {
      display: grid;
      grid-template-columns: 2fr 1fr;

      .support-text {
         h1 {
            font-size: 55px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 800;
            width: 750px;
            line-height: 3.3rem;
            color: #060640;
         }

         span {
            color: #FF6B00;
         }

         .sub {
            width: 600px;

            h3 {
               font-size: 18px;
               font-family: Poppins;
               color: #060640;
            }

            button {
               background: #FF6B00;
               border-radius: 10px;
               color: #060640;
               font-weight: 600;
               box-shadow: 0px 0px 2px #060640;
               padding: 10px 10px;
               width: 150px;
               margin-right: 20px;
               border: 0;
               font-size: 20px;
               font-family: Poppins;
            }
         }
      }

      .support-img {
         background: #FF6B00;
         width: 300px;
         height: 330px;
         border-radius: 47%;
         margin-top: 40px;

         img {
            width: 450px;
            height: 400px;
         }
      }
   }
}

// -------------------------------- Contact-Form ------------------------------------
.contact-container {
   color: #060640;

   .contact-sec {
      // background: #000;
      height: 100vh;
      width: 1300px;
      padding: 10px;

      .contact-section {
         display: flex;
         margin-bottom: 40px;
         width: 100vw;
         padding: 10px;

         .contact-text {
            // background: violet;
            width: 30%;
            padding: 10px;
            display: flex;
            flex-direction: column;
            // gap: 30px;

            h1 {
               font-family: Poppins;
               font-size: 24px;
            }

            p {
               font-size: 18px;
               font-family: cursive, Tahoma, Geneva, Verdana, sans-serif;
               line-height: 1.1rem;
               // color: rgb(192, 190, 190);
               color: #565656;
            }

            button {
               padding: 5px 10px;
               text-align: center;
               border-radius: 5px;
               width: 150px;
               font-size: 18px;
               font-family: Poppins;
               border: 0;
               background: #060640;
               color: #fff;
               margin-top: 10px;
            }
         }

         .contact-form-container {
            background: #fff;
            border-radius: 30px;
            width: 35%;
            top: 200px;
            padding: 30px;
            position: relative;
            display: flex;
            justify-content: center;
            margin-left: 100px;



            .contact-txt {
               h1 {
                  font-size: 24px;
                  font-family: Poppins;
               }

               .contact-form {
                  display: flex;
                  flex-direction: column;
                  gap: 20px;

                  input {
                     width: 400px;
                     padding: 10px 10px;
                     border-radius: 10px;
                     font-size: 16px;

                     &::placeholder {
                        font-size: 14px;
                        padding: 10px;
                     }
                  }

                  button {
                     background-color: #060640;
                     color: #f2f2f2;
                     padding: 16px 40px;
                     border: none;
                     font-size: 18px;
                     margin-top: 5px;
                     transition: 850ms;
                     border-radius: 10px;
                  }

                  button:hover {
                     background-color: transparent;
                     border: 1px solid #000;
                     color: #000;
                  }

                  textarea {
                     height: 150px;
                     outline: 0;
                     border-radius: 10px;
                     resize: none;
                     padding: 10px 20px;
                     font-size: 16px;

                     &::placeholder {
                        font-size: 16px;
                     }
                  }
               }
            }
         }
      }
   }
}

// -------------------------------------- FAQs ---------------------------------------------
.faq-container {
   height: 100vh;
   border-top: 2px solid white;
   display: flex;
   justify-content: center;

   .faq-section {
      margin-top: 180px;
      height: 100vh;
      width: 1300px;

      .faq-section-content {
         display: flex;
         margin-bottom: 20px;
         align-items: center;
         flex-direction: column;

         h1{
            font-family: Poppins;
            font-size: 28px;
         }
         p{
            font-size: 20px;
         }
      }

      .faq {
         padding: 10px 10%;
         text-align: center;
         font-size: 18px;
         display: flex;
         color: #fff;
         margin-left: 50px;

         .accordion {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
            width: 100%;
            max-width: 750px;

            .contain {
               background: #060640;
               text-align: left;
               padding: 0 20px;
               max-height: 0;
               overflow: hidden;
               transition: max-height 0.5s, padding 0.5s;
            }

            li {
               list-style: none;
               width: 100%;

               input[type="radio"] {
                  display: none;
               }

               input[type="radio"]:checked+label+.contain {
                  max-height: 600px;
                  padding: 0px 10px;
               }

               .accordion input[type="radio"]:checked+label::after {
                  transform: rotate(45deg);
               }

               label {
                  display: flex;
                  align-items: center;
                  padding: 10px 20px;
                  width: 350px;
                  font-size: 17px;
                  font-weight: 500;
                  background: #060640;
                  margin-bottom: 2px;
                  cursor: pointer;
                  position: relative;

                  &::after {
                     content: '+';
                     color: #fff;
                     font-size: 34px;
                     position: absolute;
                     right: 20px;
                     transition: transform 0.5s;
                  }
               }
            }
         }
      }
   }
}